<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - InnovationHub</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/style.css")*@
    @Styles.Render("~/Content/Site.css")
    @*@Styles.Render("~/Scripts/jquery-3.1.1.js")
        @Styles.Render("~/Scripts/jquery-3.1.1.min.js")
        @Styles.Render("~/Scripts/Chart.min.js")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Innovation Hub", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Staff"))
                    {
                        <li>@Html.ActionLink("Submission", "Index", "ViewSubmissions")</li>}

                    @if (User.IsInRole("Administrator") || (User.IsInRole("QAManager")) || (User.IsInRole("QACoordinator")))
                    {
                        <li>@Html.ActionLink("Department", "Index", "Departments", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Users", "Index", "Users", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Category", "Index", "Categories", new { area = "Admin" }, new { })</li>
                        <li>@Html.ActionLink("Submission", "Index", "Submissions", new { area = "Admin" }, new { })</li>       
                        <li>@Html.ActionLink("DashBoard", "DashBoard", "Submissions", new { area = "Admin" }, new { })</li>       
                    }
                </ul>
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr>
        <footer>
            <p style="color:rgba(0, 0, 255, 0.6);">&copy; @DateTime.Now.Year - Innovation Hub</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>
