@using Events.web.Models
@model LoginViewModel
@{ ViewBag.Title = "Log in"; }

<link href="~/Content/LoginF.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
{
<section>

    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="content">
        <div class="form">
            <form>
                <h2>Login</h2>
                <div class="input">
                    @Html.ValidationSummary(true, "", new { })
                    <span>@Html.LabelFor(m => m.Email, new { })</span>
                    @Html.TextBoxFor(m => m.Email, new { })
                    @Html.ValidationMessageFor(m => m.Email, "", new { })
                </div>
                <div class="input">
                    <span>@Html.LabelFor(m => m.Password, new { })</span>
                    @Html.PasswordFor(m => m.Password, new { @placeholder = "*******" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { })
                </div>
                <div class="remember">
                    @Html.LabelFor(m => m.RememberMe)
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "cb-login" })
                </div>
                <div class="input">
                    <input type="submit" value="Login" name="login" class="btn btn-default" />
                </div>
                <div class="re-acc">
                    @Html.ActionLink("Register new user", "Register")
                    @Html.ActionLink("Forgot password?", "ForgotPassword")
                </div>
            </form>
        </div>
    </div>
</section>}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}