@model Events.web.ViewModels.IdeaCommentViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Idea.Title</h2>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Idea.Categories.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.Categories.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idea.Submissions.SubmissionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.Submissions.SubmissionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idea.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idea.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idea.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idea.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idea.LastModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.LastModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idea.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idea.UserId)
        </dd>

    </dl>
</div>
<ul>
    @foreach (var comment in Model.Comments)
            {
                <li>
                    @comment.Content
                </li>
            }
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idea.IdeaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
