,@model PagedList.IPagedList<Events.web.Models.Idea>
@using PagedList.Mvc;

@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/Create.css" rel="stylesheet" type="text/css" />

<div class="h-ind">
    <h2>Ideas Detail</h2>
</div>
<div>   
    @using (Html.BeginForm("Index", "Ideas", FormMethod.Get))
    {
        <div class="center">
            <div class="k1-ind">
                @if (ViewBag.submission.ClosureDate >= DateTime.Now)
                {
                    @Html.ActionLink("Post New Idea", "Create", "Ideas", new { id = ViewBag.submission.SubmissionId }, null)}
                <select id="sources" class="custom-select" name="sortBy" data-id="" onChange="sortBy();" value="">
                    <option value="" selected="selected" disabled="disabled">Choose</option>
                    <option value="date">Recently Uploaded</option>
                    <option value="comment">Latest Commented</option>
                    <option value="view">Most Viewed</option>
                </select>
                <input class="btn btn-outline-primary" type="submit" value="Sort" />
            </div>
        </div>}
</div>
<div class="tab-ind">
    <div class="table">
        <div class="table-header">
            <div class="header__item"><a class="filter__link">@Html.DisplayNameFor(model => model[0].Categories.CategoryName)</a></div>
            <div class="header__item"><a class="filter__link filter__link--number">@Html.DisplayNameFor(model => model[0].Title)</a></div>
            <div class="header__item"><a class="filter__link filter__link--number">@Html.DisplayNameFor(model => model[0].Content)</a></div>
            <div class="header__item"><a class="filter__link filter__link--number">@Html.DisplayNameFor(model => model[0].LastModifiedDate)</a></div>
            <div class="header__item"><a class="filter__link filter__link--number">Comments</a></div>
            <div class="header__item"><a class="filter__link filter__link--number">Likes</a></div>
            <div class="header__item"><a class="filter__link filter__link--number">Views</a></div>
            <div class="header__item"><a class="filter__link filter__link--number">Post</a></div>
        </div>
        @foreach (var item in Model)
        {
            <div class="table-content">
                <div class="table-row">
                    <div class="table-data">@Html.DisplayFor(modelItem => item.Categories.CategoryName)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.Title)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.Content)</div>
                    <div class="table-data">@Html.DisplayFor(modelItem => item.LastModifiedDate)</div>
                    <div class="table-data"> @item.Comments.Count()</div>
                    <div class="table-data"> @item.Views.Count()</div>
                    <div class="table-data">@item.LikeCount</div>
                    <div class="table-data">@Html.ActionLink("Comments", "Index", "Comments", new { id = item.IdeaId }, null)</div>
                </div>
            </div>}
    </div>
</div>


    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortBy = ViewBag.currentSort }))
